.card {
    cursor: pointer;
    background: #2098FB;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 24px;
    width: fit-content;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.card:hover {
    transform: scale(1.1);
}

.card_image {
    width: 100px;
    height: 100px;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.card_info {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card_info h2 {
    text-align: start;
    color: #1C1D20;
    margin: 0;
}

.card_info h3 {
    text-align: start;
    color: #282C34;
    margin: 0;
}